body {
	margin:0px;
	padding:0px;
}
.home {
	background-color: #f6f6f6;
	width:155px;
}
.content {
	padding-left:175px;
}
.sidebar {
	padding-left:20px;
	float:left;
	border-right:1px solid lightgrey;
	width:155px;
	background-color: #f6f6f6;
	padding-top:10px;
	font-family:arial sans-serif;
}
.sidebar ul {
	padding-left:0px;
	list-style-type: none;
	color:#0645ad;
	line-height: 20px;
	font-size:12px;
	line-height: 20px;
	font-family: arial;
	border-bottom: 1px solid lightgrey;
}
.block .body ul {
	margin-top:1px;
	padding-left:13px;
}
.sidebar h4 {
	color:#4d4d4d;
	font-size:12px;
	padding:0px;
	margin:0px;
	font-weight: normal;
	font-family:sans-serif;
}
.sidebar a {
	color:#0645ad;
	text-decoration: none;
}
.sidebar a:hover  {
	color:#0645ad;
	text-decoration: underline;
}
.client ul {
	margin:7px 5px 20px 5px;
	padding-left:86em;
}
.client li {
	list-style-type: none;
	display:inline;
	color:#0645ad;
	font-family: arial;
	font-size:12px;
}
.nav li {
	list-style-type: none;
	display:inline;
	}
.nav ul {
	padding:5px;
}
.client a {
	text-decoration: none;
	color:#0645ad;
}
.leftnav ul {
	padding-left:15px;
	margin:0px;
}
.leftnav ul li {
	display:inline-block;
	list-style-type: none;
}
.leftnav li.article  {
	
}
.leftnav li.talk {
	width:300px;
	border-right:1px solid lightgrey;
	border-left:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding:8px 8px 8px 8px;
}
.client li.user {
	color:grey;
}
.container {
	padding-right: 25px;
	padding-left:20px;
}
.container h1 {
	font-family: times;
	font-weight: lighter;
	border-bottom:1px solid lightgrey;
	margin-right:35px;
	margin-bottom:3px;
}
.container h4 {
	margin-top:4px;
	font-weight: lighter;
	color:#252525;
}
.container-text {
	
}
.container-text h4 {
	font-style:italic;
	padding-left:20px;
}
.container table {
	border:1px solid lightgrey;
	width:17%;
	font-family: times;
}
.container-text a {
	text-decoration: none;
	color:#0645ad;
}
.container-text a:hover {
	text-decoration: underline;
}
.topic {
	border:1px solid lightgrey;
	width:200px;
}